.blueBackground {
    -fx-fill: blue;
    -fx-background-color: blue;
}

.greenBackground {
    -fx-fill: green;
    -fx-background-color: green;
}

.sidebutton {
    -fx-background-color: transparent;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 13;
}
.sidebutton:hover {
    -fx-cursor: hand;
    -fx-fill: white;
}