.root{
    -fx-background-size: cover;
    -fx-background-image: url("../images/backgrounds/startingPage.jpeg");
    -fx-opacity: 0.9;
}

.secondPage{
    -fx-background-size: cover;
    -fx-background-image: url("../images/backgrounds/18.png");
    -fx-background-repeat: repeat-x;
}

.enteringMenus{
    -fx-background-size: cover;
    -fx-background-image: url("../images/backgrounds/Background_B.png");
    -fx-background-repeat: repeat-x;
}

@font-face {
    -fx-font-family: "Academy Engraved LET";
    src: url("../fonts/AcademyEngravedLETFonts.ttf");
}

.font{
    -fx-font-family: "Academy Engraved LET";
    -fx-font-size: 30;
}

.text-field{
    -fx-font-family: "Academy Engraved LET";
    -fx-font-size: 15;
    -fx-prompt-text-fill: #e50000;
    -fx-background-color: #74bfc7;
    -fx-border-color: blue;
}

.menu-button{
    -fx-font-family: "Academy Engraved LET";
    -fx-background-color: #00e1ff;
    -fx-arc-width: 30;
    -fx-arc-height: 30;
}

.label{
    -fx-font-family: "Academy Engraved LET"; -fx-text-fill: #e50000;
}

.pop-up{
    -fx-background-color: #74bfc7;
    -fx-border-color: blue;
}

